<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Project 1 Resume Page</title>
</head>

  <body>
    <ul>
      <li><a href="../index.html">Main</a></li>
      <li><a href="../about/about.html">About</a></li>
      <li><a href="./resume.html">Resume</a></li>
    </ul>
    <h1>John Deifel</h1>
    <p>jhdeifel@gmail.com | (847)-323-1822 | <a href="linkedin.com/in/john-deifel">linkedin.com/in/john-deifel</a> | <a href="github.com/JohnDeifel">github.com/JohnDeifel</a></p>
  </body>

</html>