<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Project 1 Resume Page</title>
</head>

  <body>
    <ul>
      <li><a href="../index.html">Main</a></li>
      <li><a href="../about/about.html">About</a></li>
      <li><a href="./resume.html">Resume</a></li>
    </ul>
    <h1>John Deifel</h1>
    <p>jhdeifel@gmail.com | (847)-323-1822 | <a href="linkedin.com/in/john-deifel">linkedin.com/in/john-deifel</a> | <a href="github.com/JohnDeifel">github.com/JohnDeifel</a></p>
    <h4>EDUCATION</h4>
    <p>BACHELOR OF SCIENCE COMPUTER SCIENCE		 		                         Expected May 2024</p>
    <p><strong>Illinois Institute Of Technology						     	                      Chicago, IL</strong></p>
    <h4>RELEVANT COURSEWORK</h4>
    <p>Data Structures/Algorithms, Object-Oriented Programming, Database Organization, Operating Systems, Introduction to Artificial Intelligence, Discrete Structures, Functional Programming, Probability/Statistics</p>
    <h4>SKILLS & INTERESTS</h4>
    <p><strong>Technical:</strong>Python, Dart, Flutter, Javascript, HTML, CSS, Github, Git, Java, SQL, C, C++, C#, Haskell, MIPS</p>
    <p><strong>Interests:</strong>Songwriting, Musical Instruments, Game Design, Computer Assembly</p>
    <p><strong>Extracurriculars:</strong>Society of Hispanic Professional Engineers (SHPE), Codify IIT, ACM, PKS</p>
    <p><strong>Languages:</strong>English-Native, Spanish-Novice</p>
  </body>

</html>